---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ item.role_type }}
metadata:
  name: {{ role_name }}
rules:
  - verbs:
      - get
      - create
      - delete
    apiGroups:
      - cdi.kubevirt.io
    resources:
      - datavolumes
      - datasources
  - verbs:
      - create
    apiGroups:
      - ""
    resources:
      - pods
  - verbs:
      - get
    apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
